.bg {
    background-image: url("https://wallpapercave.com/wp/wp1862823.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-a {
    background-image: url("https://wallpapercave.com/wp/wp1862832.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-b {
    background-image: url("https://wallpapercave.com/wp/wp1862825.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-c {
    background-image: url("https://wallpapercave.com/wp/wp1862836.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-d {
    background-image: url("https://wallpapercave.com/wp/wp1862844.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}